@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
}

body {
  
   font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.alert{
  width: 100%;
  background-color: cornflowerblue;
  text-align: center;
  height: 4rem;
}
.alert-btn{
  float: right;
 font-size: 2.4rem;
 margin:4px 20px 0 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.alert-btn:hover{
  color: white;
  transition: .5s;
 
}
.footer-container{
  background-color: black;
  width: 100%;
  padding: 20px;
  position:fixed;
  bottom: 0;
  color: white;
  text-align: center;

}
.a-footer{
  text-decoration: none;
  color: white;
}
.a-footer:hover{
  color: cornflowerblue;
}



